@media screen and (max-width:768.98px) {
  main {
    padding-bottom: 70px;
  }
  
  .container {
    padding: 0 1.71em;
  }

  .aside-home {
    display: none;
  }
  
  .mobile__picture {
    display: block;
    width: 100%;
  }
  
  .mobile__picture img {
    width: 100%;
  }
  
  .product-new__body {
    padding-top: 1.42em;
  }
  
  .product-new__title {
    text-align: start;
  }
  
  .mailing {
    display: none;
  }
  
  .catalog-btn {
    display: none;
  }
  
  .product-new__body_mobile {
    margin-bottom: 2.6em;
  }
  
  .footer__desktop {
    display: block;
  }
  
  .catalog__home {
    display: block;
  }
  
  .product-new__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1.21em;
  }
  
  .catalog__title_visible {
    display: block;
  }
}

@media screen and (max-width: 340px) {
  .container {
    padding: 0 1em;
  }
}