@media screen and (max-width:768.98px) {
  .cards-list {
    grid-template-columns: repeat(auto-fit, minmax(13.42em, 1fr));
  }
  
  .card {
    /* max-width: 13.42em; */
    width: 100%;
    height: auto;
  }
  
  .card__img img {
    /* max-height: 345; */
    width: 100%;
    /* object-fit: contain; */
  }
  
  .card__name_mobile {
    display: none;
  }
  
  .card__sale_mobile {
    display: none;
  }
  
  .card__header {
    display: none;
  }
  
  .card__forever-btn {
    position: relative;
    top: 3.5em;
    left: 0.8em;
  }
}


