header {
  padding-top: 3.85em;
}

.navigation-header {
  display: none;
}

.menu__btn {
  display: block;
  background-color: transparent;
  border: none;
}

.title {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.title a {
  color: #191919;
}
.visitor__item_cart,
.visitor__item_forever {
  display: none;
}

.svg-elem-1,
.svg-elem-2,
.svg-user-1,
.svg-user-2 {
  stroke: black;
}

.page-position {
  align-items: center;
}

.visitor__list {
  max-width: 3.52em;
}

.home-image__anchor-block {
  display: none;
}


