.swiper__home {
  display: block;
  width: 100%;
  height: 114px;
  /* background-color: #f8f8f8; */
  /* width: 320px;
        height: 138px; */
  /* padding: 0 1em !important; */
  box-sizing: border-box;
}

/* .cards-list__swiper {
  display: flex ;
  column-gap: 0;
} */

.swiper-wrapper {
  box-sizing: border-box;
  max-width: 240px !important;
  /* padding: 0 1em; */
}

.swiper-slide,
.swiper-slide-active {
  background-color: #fbfbfb;
}

.service {
  background-color: #fbfbfb;
  /* max-width: 320px; */
}

.service__title {
  background-color: #fbfbfb;
  margin-bottom: 0.9em;
  padding: 1em;
}

.service__body {
  display: none;
}

.service__brand {
  width: 240px;
  margin-bottom: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #fbfbfb;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  color: #dddddd !important;
  background-color: #dddddd !important;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  color: #b5b6bc !important;
  background-color: #b5b6bc !important;
}
