header {
  max-width: 1442px;
  width: 100%;
  padding-top: 1.35em;
  /* padding: 1.35em 7.14em 1.78em; */
  /* padding-bottom: 1.78em; */
  background: transparent;
  transition: 0.9s ease-in-out;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-header {
  font-family: 'Montserrat SemiBold';
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  margin-bottom: 0.21em;
}

.navigation-header__pages {
  width: 30.71em;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 850px) {
  .navigation-header__pages {
    margin-right: 1.5em;
  }
}

.navigation-header__brands {
  width: 20.71em;
  display: flex;
  justify-content: space-between;
}

.navigation-header__item {
  position: relative;
}

.navigation-header__item a {
  text-decoration: none;
  color: #fbfbfb;
}

.navigation-header__item.navigation-header__item_black a {
  color: #191919;
}

.navigation-header__item::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background-color: #fbfbfb;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation-header__item.navigation-header__item_black::before {
  background-color: #191919;
}

.navigation-header__item:hover::before {
  width: 100%;
}

.page-position {
  width: 100%;
  height: 2.85em;
  display: flex;
  justify-content: space-between;
}

.title {
  position: relative;
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 2.57em;
  line-height: 54px;
  color: #fbfbfb;
}

.page {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #191919;
}

.title.title_black a {
  color: #191919;
}

.title a {
  color: #fbfbfb;
  text-decoration: none;
}

.visitor__list {
  max-width: 9.78em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.visitor__item_black svg line,
.visitor__item_black svg path {
  stroke: #191919;
}
.visitor__item_black-cart-path {
  fill: #191919;
}

.menu__btn {
  display: none;
}

.hamburger__body {
  display: none;
}
