.menu {
  visibility: hidden;
  position: fixed;
  left: -1000px;
  /* top: 90px; */
  padding-top: 90px;
  width: 100%;
  height: 100vh;
  background-color: #fbfbfb;
  z-index: 250;

  overflow: auto;
  transition: 0.5s ease-in-out;
}

.menu::-webkit-scrollbar {
  width: 0;
}

.menu::-moz-scrollbar {
  width: 0;
}

.menu__wrap {
  display: block;
  height: auto;
  max-height: 500px;
  min-height: 445px;
  position: relative;

  margin-top: 1.85em;

  animation: opacityAnimation 0.8s ease;
}

.menu__wrap::-webkit-scrollbar {
  width: 0;
}

.menu__wrap::-moz-scrollbar {
  width: 0;
}

.menu__item {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #191919;

  margin-bottom: 1.28em;

  animation: opacityAnimation 1s ease;
}

.menu__item a {
  text-decoration: none;
  color: inherit;
}

.menu__btn {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  color: #191919;

  cursor: pointer;
}

/* .header__burger {
  width: 20px;
  height: 20px;
  animation: opacityAnimation 0.8s ease;
  background-image: url('../img-css/header/burger.svg');
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.8s ease-in-out;
}

.header__burger_active {
  animation: opacityAnimation 0.8s ease;
  background-image: url('../img-css/header/burger-active.svg');
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.8s ease-in-out;
} */

.menu__shipping_more-active {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  background: #fbfbfb;
  animation: opacityAnimation 0.8s ease;
}

.menu__contacts_more-active {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  background: #fbfbfb;
  animation: opacityAnimation 0.8s ease;
}

.menu__text {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #191919;
}

.menu__text a {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 600;
}

.hamburger__checkbox {
  position: absolute;
  display: block;
  height: 14px;
  width: 18px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  display: block;
  height: 14px;
  width: 18px;
  position: relative;
  /* top: 17px;
  left: 20px; */
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: #191919;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

#hamburger__checkbox[type='checkbox']:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

#hamburger__checkbox[type='checkbox']:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

#hamburger__checkbox[type='checkbox']:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
