@font-face {
  font-family: 'Montserrat Regular';
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Medium';
  src: url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Bold';
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins SemiBold';
  src: url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  scroll-behavior: smooth;
  /* visibility: hidden; */
  /* max-width: 1442px; */
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  background: #fbfbfb;
}

.home-image {
  width: 100%;
  height: 100vh;
  background-image: url('../img-css/header/header-img-large.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  position: relative;

  display: flex;
  justify-content: center;
}

@media (max-width: 1440px) {
  .home-image {
    background-size: cover;
  }
}

.home-image__anchor-block {
  margin: 0 auto;
  position: absolute;
  bottom: 1.96em;
  width: 3em;
  height: 3em;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image__anchor-arrow {
  width: 2em;
  height: 2em;
  border: 1em solid rgba(0, 0, 0, 0);
  position: relative;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.home-image__anchor-arrow::after {
  width: 23px;
  height: 1px;
  color: white;
  background-color: white;
  content: ' ';
  position: absolute;
  left: 0;
  transform: rotate(145deg) translateY(-2px) translateX(4px);
}

.home-image__anchor-arrow::before {
  width: 23px;
  height: 1px;
  color: white;
  background-color: white;
  content: ' ';
  position: absolute;
  right: 0;
  transform: rotate(-145deg) translateY(-2px) translateX(-4px);
}
.home-image__anchor-block:hover .home-image__anchor-arrow {
  transform: scale(1.15);
}

.hidden {
  display: none;
}

.noscroll {
  position: static;
  inline-size: 100%;
  overflow-y: scroll;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

button:link,
button:visited,
button:hover,
button:focus,
button:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

svg:link,
svg:visited,
svg:hover,
svg:focus,
svg:active {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
